body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 20px;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

img {
  max-width: 100%;
  height: 400px;
  margin: 10px auto;
  object-fit: cover;
}

/* Movil settings */
@media (max-width: 600px) {
  .album-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 350px) {
  h1 {
    color: red;
    text-align: center;
  }

  .album-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
